
@{
    ViewData["Title"] = "Container Examples";
}

<h1>@ViewData["Title"]</h1>

<div class="container border">
    <h2>Default container</h2>
</div>
<div class="container-sm border">100% wide until small breakpoint</div>
<div class="container-md border">100% wide until medium breakpoint</div>
<div class="container-lg border">100% wide until large breakpoint</div>
<div class="container-xl border">100% wide until extra large breakpoint</div>
<div class="container-xxl border">100% wide until extra extra large breakpoint</div>

<div class="container-fluid border">
    <h2>Fluid container</h2>
</div>
