@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="ContainerExample">Container Example</a>
    <br />
    <a asp-action="GridExample">Grid Example</a>
    <br />
    <a asp-action="StackedForm">Pet Stacked Form</a>
    <br />
    <a asp-action="Buttons">Buttons</a>
    <br />
    <a asp-action="HorizontalForm">Horizontal Form</a>
    <br />
    <a asp-action="ModalFormP1">Modal Form P1</a>
    <br />
    <a asp-action="ModalFormP1JS">Modal Form P1 JavaScript</a>
    <br />
    <a asp-action="ModalFormP2">Modal Form P2</a>
    <br />
    <a asp-action="ModalFormP3">Modal Form P3</a>
    <br />
    <a asp-action="ModalFormP4">Modal Form P4</a>
    <br />
    <a asp-action="ModalFormP4Submit">Modal Form P4 Submit</a>
    <br />
    <a asp-action="ToolTipsDemo">Tooltips Demo</a>
    <br />
    <a asp-action="PopoverDemo">Popover Demo</a>
</div>
