@model Pet
@{
    ViewData["Title"] = "Pet Stacked Form";
}

<h1>@ViewData["Title"]</h1>

<form id="createPetForm" asp-action="Create">
   <div class="mb-3 col-4">
      <label asp-for="Name" class="form-label"></label>
      <input type="text" asp-for="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
   </div>
   <div class="mb-3 col-3">
      <label asp-for="Type" class="form-label"></label>
      <select class="form-select" asp-for="Type" aria-label="Pet type">
         <option selected>Choose your pet's type:</option>
         <option value="Bird">Bird</option>
         <option value="Cat">Cat</option>
         <option value="Dog">Dog</option>
         <option value="Snake">Snake</option>
      </select>
   </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="femaleRdo" name="Gender" value="Female" checked />
            <label class="form-check-label" for="femaleRdo">
                Female
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="maleRdo" name="Gender" value="Male" />
            <label class="form-check-label" for="maleRdo">
                Male
            </label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input asp-for="IsNeutered" class="form-check-input" type="checkbox" id="isNeuteredChk">
            <label class="form-check-label" for="isNeuteredChk">
                Is Neutered
            </label>
        </div>
    </div>

    <div class="mb-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
